<div>Admin Dashboard</div>
<!-- <app-add-service></app-add-service> -->
<!-- <app-add-certificate></app-add-certificate> -->
<!-- <app-add-team-member></app-add-team-member> -->
<app-add-client></app-add-client>
<!-- <app-make-a-review></app-make-a-review> -->
<!-- <app-send-review-email></app-send-review-email> -->
<!-- <app-services></app-services> -->
<!-- <app-team></app-team -->
<!-- <app-clients></app-clients> -->
<!-- <app-certificates></app-certificates> -->
<!-- <app-messages></app-messages> -->
<!-- <app-reviews></app-reviews> -->
