<p>services works!</p>
<div>
    <div *ngFor="let service of services">
        <p>{{service.title}}</p>
        <p>{{service.sector}}</p>
        <p>{{service.category}}</p>
        <p>{{service.analysis}}</p>
        <p>{{service.description}}</p>
        <img [src]="getImageSrc(service.imageUrl)"/>
        <button (click)="handleDeleteService(service._id)">Delete this Service</button>
        <button (click)="navigateToUpdate(service._id , service.title)">Update This service</button>
    </div>
</div>