<p>team works!</p>
<div>
    <div *ngFor="let member of team">
        <p>{{member.teamMember}}</p>
        <p>{{member.teamMemberRole}}</p>
        <p>{{member.teamMemberDescription}}</p>
        <p>{{member.teamMemberEmail}}</p>
        <img [src] = "getImageSrc(member.teamMemberPhotoUrl)"/>
        <button (click) = "handleDeleteTeamMember(member._id)">delete this Member</button>
        <button (click) = "navigateToUpdateTeamMember(member._id,member.teamMember)">Update This Member</button>
    </div>
</div>